<div id="edit_profil">
    <div id="contenu_edit_profil">

        <h1>Editer mon profil</h1>

        <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
        <%= devise_error_messages! %>

        <div><%= f.label :email %>
        <%= f.email_field :email %></div>

        <div><%= f.label :pseudo %>
        <%= f.text_field :pseudo %></div>

        <div><label for="user_password">Mot de passe</label>
            <%= f.password_field :password, :autocomplete => "off" %>
            <i>(Ne rien mettre si vous ne voulez pas changer de mot de passe)</i>
        </div>


        <div><label for="user_password_confirmation">Confirmation</label>
        <%= f.password_field :password_confirmation %>
        <i>(Si vous modifiez votre mot de passe, il faut le confirmer)</i></div>

        <div><label for="user_current_password">Mot de passe actuel</label> 
            <%= f.password_field :current_password %>
            <i>(Vous devez obligatoirement entrez votre mot de passe actuel)</i>
        </div>

        <div><%= f.label :avatar %>
        <%= f.file_field :avatar %></div>

        <div class="actions"><%= f.submit "Update" %></div>
        <% end %>

        <p class="suppr_compte">Pas content ? <%= link_to "Supprimez votre compte", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete %>.</p>

        <!--<%= link_to "Back", :back %>-->
        <div class="spacer"></div>
    </div>
</div>
