<div id="search">
    <div id="contenu_search">
        <h1>Resultat de votre recherche</h1>
        <% if @travels.count > 0 %>
            <table>

            <% @travels.each do |travel| %>
              <tr>
                <td class="col_photo">
                    <%= link_to (image_tag travel.illustration.url(:thumb)), travel_activities_path(travel) %>
                </td>
                <td class="col_desc">
                    <h2><%= link_to travel.name, travel_activities_path(travel) %></h2>
                    <%= link_to "par "+travel.user.pseudo, travel.user%><br><br>
                    <p>Un trek qui part de <%= travel.start_country %> et qui finit en <%= travel.end_country %></p>
                </td>
                <td class="col_dates">
                    <p>Du <span><%= travel.start_travel %></span><br/>
                    Au <span><%= travel.end_travel %></span></p>
                </td>
              </tr>
            <% end %>
            </table>
            <%= will_paginate @travels, :previous_label => t('helpers.labels.<'), :next_label => t('helpers.labels.>') %>
        <% else %>
            <p>Votre recherche n'a retourne aucun resultats</p>
        <% end %>

    </div>
</div>
