<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @picture.user_id %>
</p>

<p>
  <b>Travel:</b>
  <%= @picture.travel_id %>
</p>

<p>
  <b>Actity:</b>
  <%= @picture.actity_id %>
</p>

<p>
  <b>Picture:</b>
  <%= @picture.picture %>
</p>


<%= link_to 'Edit', edit_picture_path(@picture) %> |
<%= link_to 'Back', pictures_path %>
