<h1>Infos sur le voyage</h1>

<p>
  <b>Name du voyage:</b>
  <%= @travel.name %>
</p>

<p>
  <b>Start country:</b>
  <%= @travel.start_country %>
</p>

<p>
  <b>End country:</b>
  <%= @travel.end_country %>
</p>

<p>
  <b>Start travel:</b>
  <%= @travel.start_travel %>
</p>

<p>
  <b>End travel:</b>
  <%= @travel.end_travel %>
</p>

<hr/>

<h1>New activity</h1>

<%= render 'form' %>

<%= link_to 'Back', travel_activities_path(params[:id]) %>
