<!DOCTYPE html>
<html>
    <head>
        <title>Trekky</title>
        <%= stylesheet_link_tag    "style", :media => "all" %>
        <%= stylesheet_link_tag    "jquery-ui-1.8.5.custom", :media => "all" %>
        <%= javascript_include_tag "application" %>
        <%= javascript_include_tag "jquery-1.4.2.min" %>
        <%= javascript_include_tag "jquery-ui-1.8.5.custom.min" %>
        <%= javascript_include_tag "jquery-ui-timepicker-addon-0.6.2" %>

        <%= csrf_meta_tags %>
        
    </head>
    <body>
                    <% if notice %>
                        <div class="flash_message">
                            <div class="flash">
                                <div>
                                    <h1>Trekky</h1>
                                    <%= notice %>
                                    <input type="buttom" value="OK" onClick="window.location.reload()">
                                </div>
                            </div>
                        </div>
                    <% end %>

                    <% if alert %>
                        <div class="flash_message">
                            <div class="flash">
                                <div>
                                    <h1>Trekky</h1>
                                    <%= alert %>
                                    <input type="buttom" value="OK" onClick="window.location.reload()">
                                </div>
                            </div>
                        </div>
                    <% end %>

        <div id="background_header_index">
            <div id="header_index">
                
                <p class="logo"><%= link_to '', root_url, :class => 'lien_logo' %></p>
                <ul>
                    <% if current_user %>
                        <!--<li class="pseudo"><%= current_user.pseudo %></li>
                        <li><%= link_to 'mon profil', edit_user_registration_url %></li>-->
                        <li><%= link_to (image_tag current_user.avatar.url(:thumb)), current_user %></li>
                        <li class="info_membre"><%= link_to 'Bonjour '+current_user.pseudo, current_user %><br/>
                        <%= link_to 'Deconnexion', destroy_user_session_url, :method => :delete, :class => 'deconexion' %></li>
                    <% else %>
                        <li class="logout"></br></li>
                    <% end %>
                </ul>
                <%= search_form_for @q, :url => search_home_index_path do |f| %>
                    <!--<%= f.label :name_or_start_country_or_end_country_cont, "je recherche un carnet" %>-->
                    <%= image_tag("search_label.jpg") %>
                    <%= f.text_field :name_or_start_country_or_end_country_cont, :value => "Rechercher" %>
                    <%= f.submit("ok") %>
                <% end %>
                
            </div>

        </div>

        <div id="contenu">

            <%= yield %>
        </div>

        <div id="footer">
            <div class="derniers">
                <h1>Derniers treks partagés</h1>
                <div id="derniers_slider">
                    <% if @last_travel_footer.count > 0 %>
                        <% @last_travel_footer.each do |travel| %>
                            <div class="derniers_slider_event">
                                <div class="derniers_slider_event_img">
                                    <%= link_to (image_tag travel.illustration.url(:thumb)), travel_activities_path(travel) %>
                                </div>
                                <div class="derniers_slider_event_texte">
                                    <p class="pays"><%= travel.name %></p>
                                    <p class="name"><%= link_to "par "+travel.user.pseudo, travel.user%></p>
                                </div>
                            </div>
                        <% end %>
                    <% else %>
                        Rien pour l'instant !
                    <% end %>
                </div>
            </div>
        </div>


        <script type="text/javascript">// <![CDATA[
        $(".date_picker").datepicker();
        $(".datetime_picker").datetimepicker();// ]]&gt;</script>

    </body>
</html>
